:root {
  --vt-c-white: #ffffff;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);

}

:root {
  --color-background: var(--vt-c-white);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);

  }
}




