* {
  margin: 0;
  padding: 0;
}

body {
  font-family:FreeMono, monospace;
  min-height: 100vh;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(110,20,237,1) 100%);
  display: flex;
  justify-content: center;
}